@use '../../../style/lib/color' as color;

.redirect-button {
  $height: 2.5rem;

  & {
    padding: 0 1rem;
    height: $height;
    min-width: 150px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1;

    // default
    background-color: color.$green;
  }

  &.pill {
    border-radius: calc($height/2);
  }

  &.round-corners {
    border-radius: calc($height * 0.4);
  }

  .link {
    font-weight: bold;
    color: color.$white;
    text-decoration: none;
  }
}
