@use './lib/color' as color;

@each $name, $hex in color.$by-name {
  .text-#{$name} {
    color: $hex;
  }

  .bg-#{$name} {
    background-color: $hex;
  }

  .border-#{$name} {
    border-color: $hex;
  }
}
