@use 'src/style/lib/sizing' as sizing;

.page .section {
  & {
    height: 100vh;
  }

  .content {
    width: sizing.$max-article-width;
  }

  &,
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
