@use '../../../style/lib/screen' as screen;
@use '../../../style/lib/color' as color;
@use 'sass:math';

#page-header {
  $max-header-height: 6rem;
  $header-padding: 1rem;
  $nav-top-offset: calc($max-header-height * 1.25);

  & {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $header-padding;
    position: relative;
    height: $max-header-height;
  }

  .logo-container {
    & {
      pointer-events: none;
    }

    .full-logo,
    .small-logo {
      height: 3rem;
      filter: hex-to-filter(color.$white);
    }

    .small-logo {
      display: none;
    }

    @include screen.medium {
      .small-logo {
        display: block;
      }

      .full-logo {
        display: none;
      }
    }
  }

  .nav-links {
    @include screen.medium {
      position: absolute;
      right: -100%;
      top: $nav-top-offset;
      text-align: right;
      padding-right: $header-padding;

      &.active {
        right: 0;
      }

      &.active::before {
        content: '';
        background-color: color.$pastel-green;
        right: 0;
        top: -$nav-top-offset;
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 0;
      }
    }

    .link {
      @include screen.any {
        display: inline;
        list-style: none;
      }

      @include screen.medium {
        display: block;
        margin-bottom: 1.2rem;
        font-size: 1.2rem;
      }
    }

    .link:not(:first-child) {
      @include screen.any {
        margin-left: 2rem;
      }

      @include screen.medium {
        margin-left: 0;
      }
    }

    .anchor {
      & {
        font-weight: bold;
        text-transform: capitalize;
        color: color.$white;
        text-decoration: none;
        letter-spacing: 0.5px;
        position: relative;
      }

      &.active {
        color: color.$red;
      }

      &.active::after {
        content: '';
        height: 2px;
        width: 100%;
        bottom: -5px;
        left: 0;
        position: absolute;
        background-color: color.$red;
      }
    }
  }

  .hamburger-menu {
    $size: 2rem;
    $tick-size: 5px;

    // positions relative to (x: 0, y: 0) of this class' element
    $top-position: calc($tick-size * 2 * -1);
    $middle-position: calc($tick-size * 2);
    $bottom-position: calc($tick-size * 2);

    & {
      @include screen.any {
        display: none;
      }

      @include screen.medium {
        display: flex;
        align-items: center;
      }

      & {
        width: $size;
        height: $size;
      }
    }

    .indicator {
      &,
      &::before,
      &::after {
        width: 100%;
        height: $tick-size;
        border-radius: calc($tick-size/2);
        background-color: color.$white;
      }

      & {
        position: relative;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
      }

      &::before {
        // second tick from top to bottom
        top: $top-position;
      }

      &::after {
        // last tick (third) from top to bottom
        top: $bottom-position;
      }

      &.active {
        background-color: transparent;
      }

      &.active::before,
      &.active::after {
        top: 0;
      }

      &.active::before {
        rotate: 45deg;
      }

      &.active::after {
        rotate: -45deg;
      }
    }
  }
}
